# DEFAULT OCL
OPENCL_DIR = ${VENTUS_INSTALL_PREFIX}/../../ocl-icd
OPENCL_INC = ${VENTUS_INSTALL_PREFIX}/include
OPENCL_LIB = ${VENTUS_INSTALL_PREFIX}/lib

CUDA_DIR ?= /usr/local/cuda
CUDA_LIB_DIR ?= $(CUDA_DIR)/lib64
SDK_DIR ?= $(CUDA_DIR)

CUDA_ARCH_LIST ?= 75 80 86 87 88 89 90 100 103 110 120 121
CUDA_PTX_ARCH ?= 121
CUDA_GENCODE_FLAGS := $(foreach arch,$(CUDA_ARCH_LIST),-gencode arch=compute_$(arch),code=sm_$(arch))
CUDA_GENCODE_FLAGS += -gencode arch=compute_$(CUDA_PTX_ARCH),code=compute_$(CUDA_PTX_ARCH)

CUDA_CLANG_ARCH ?= sm_89
CUDA_CUDART_FLAGS ?= --cudart shared
